<header>
    <div class="nav">
      <div class="names">Lauren &amp; Nate</div>
      <div class="nav-items">
        <div>
          <a href="{{ "/" | prepend: site.baseurl }}">Wedding</a>
        </div>
        <div>
           <a href="{{ "/where_to_stay.html" | prepend: site.baseurl }}">Where to Stay</a>
        </div>
        <div>
          <a href="{{ "/getting_there.html" | prepend: site.baseurl }}">Getting There</a>
        </div>
        <div>
          <a href="{{ "/registry.html" | prepend: site.baseurl }}">Registry</a>
        </div>
        <div>
          <a href="{{ "/rsvp.html" | prepend: site.baseurl }}">RSVP</a>
        </div>
      </div>
    </div>
</header>
