header {
    width: 100%;
    margin: auto;
}

.nav {
    display: flex;
    margin: 10px;
    align-items: center;
    flex-flow: row wrap;

    .names {
        flex-grow: 1;
        font-size: $large-font-size;
        text-transform: none;
    }

    .nav-items {
        flex-grow: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        text-transform: uppercase;
        div {
            margin: 8px;
        }
    }
}

.textblock {
    margin-left: 10px;
}

@media only screen and (max-width: 760px) {
    .nav {
        text-align: center;
        .nav-items {
            justify-content: center;
            div {
                flex-basis: 100%;
            }
        }
        .nav-items, .names {
            flex-basis: 100%;
        }
    }

    // header .nav .names {
    //     order: 0;
    // }
}

section {
    text-align: center;
    margin-bottom: $spacing-unit;
}

.splash-image {
    // background-image: url(/assets/appleswmonkeyreduced.jpg);
    // background-size: cover;
    height: auto;
    max-width: 100%
}










